body{

    background-color:#e9f1f4 !important;
    h1,h2,h3,h4,h5,h6{font-family: 'Montserrat', sans-serif;}
    
}

header{

    min-height:250px;
    padding:20px 0;
    background-image:url(images/headerbg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center top -210px;
    #nav1{
        .right{
            border-radius:0 20px 0 0;
        }
        .left{
            border-radius:20px 0 0 0 ;
        }
    }
    #nav1 nav{
    min-height:75px;
    background-image: url(images/nav1.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    margin:20px auto 0;
    border-radius:20px 20px 0 0 !important;
    padding:0 !important;
    ul.navbar-nav.ml-auto{min-height:75px;}
    
        ul{
            .pin-class{
                background: #5b0fa1 !important;
                padding: 24px 35px !important;
            }
            a{
                padding:24px !important;
                font-family:'Raleway', sans-serif;
                font-weight: 700;
                font-size:17px;
                color:#fff !important;
            }
            a.dropdown-item {
                color: #6017a3 !important;
                padding: 10px 40px !important;
                font-size: 14px;
                font-family: 'Raleway',sans-serif;
                font-weight: 700;
                &:before{
                    position: absolute;
                    top: -7px;
                    left: 45px;
                    display: inline-block;
                    border-right: 7px solid transparent;
                    border-bottom: 7px solid #CCC;
                    border-left: 7px solid transparent;
                    border-bottom-color: #fff;
                    content: '';
                }
                &:hover{
                    color:#fff !important;
                    background-color:#6119ae;
                    background-image:url(images/ribbon.png);
                    background-repeat: no-repeat;
                    background-position: center right 10px;
                    border-radius:10px;
                    border-bottom:5px solid #4e0c94;

                }
            }
            .dropdown-menu.show {
                padding-left: 15px;
                padding-right: 15px;
            }
            .join-btn{
                background: #36aea8;
                padding:25px 35px !important;

            }
        }
        // end nav1
        
    }

    #nav2 .nav{
        min-height:75px;
        background-color:#3d0d6d !important;
        border-bottom:10px solid #2f0657 !important;
        border-radius:0 0 20px 20px;
        a{
            padding:20px;
            color:#fff;
            font-family:'Montserrat',sans-serif;
            font-size:11px;
        }
    }
// end header
}

