body {
  background-color: #e9f1f4 !important; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'Montserrat', sans-serif; }

header {
  min-height: 250px;
  padding: 20px 0;
  background-image: url(images/headerbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top -210px; }
  header #nav1 .right {
    border-radius: 0 20px 0 0; }
  header #nav1 .left {
    border-radius: 20px 0 0 0; }
  header #nav1 nav {
    min-height: 75px;
    background-image: url(images/nav1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 20px auto 0;
    border-radius: 20px 20px 0 0 !important;
    padding: 0 !important; }
    header #nav1 nav ul.navbar-nav.ml-auto {
      min-height: 75px; }
    header #nav1 nav ul .pin-class {
      background: #5b0fa1 !important;
      padding: 24px 35px !important; }
    header #nav1 nav ul a {
      padding: 24px !important;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 17px;
      color: #fff !important; }
    header #nav1 nav ul a.dropdown-item {
      color: #6017a3 !important;
      padding: 10px 40px !important;
      font-size: 14px;
      font-family: 'Raleway',sans-serif;
      font-weight: 700; }
      header #nav1 nav ul a.dropdown-item:before {
        position: absolute;
        top: -7px;
        left: 45px;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #CCC;
        border-left: 7px solid transparent;
        border-bottom-color: #fff;
        content: ''; }
      header #nav1 nav ul a.dropdown-item:hover {
        color: #fff !important;
        background-color: #6119ae;
        background-image: url(images/ribbon.png);
        background-repeat: no-repeat;
        background-position: center right 10px;
        border-radius: 10px;
        border-bottom: 5px solid #4e0c94; }
    header #nav1 nav ul .dropdown-menu.show {
      padding-left: 15px;
      padding-right: 15px; }
    header #nav1 nav ul .join-btn {
      background: #36aea8;
      padding: 25px 35px !important; }
  header #nav2 .nav {
    min-height: 75px;
    background-color: #3d0d6d !important;
    border-bottom: 10px solid #2f0657 !important;
    border-radius: 0 0 20px 20px; }
    header #nav2 .nav a {
      padding: 20px;
      color: #fff;
      font-family: 'Montserrat',sans-serif;
      font-size: 11px; }
